@import "bower_components/pt-serif/scss/pt-serif";
@import "bower_components/source-sans-pro/scss/source-sans-pro";

@font-face {
  font: {
    family: "Hack";
    weight: 400;
    style: normal;
  }

  src: url("../fonts/hack/hack-regular-latin-webfont.eot?v=2.015"),
       url("../fonts/hack/hack-regular-latin-webfont.eot?#iefix&v=2.015") format("embedded-opentype"),
       url("../fonts/hack/hack-regular-latin-webfont.woff2?v=2.015") format("woff2"),
       url("../fonts/hack/hack-regular-latin-webfont.woff?v=2.015") format("woff"),
       url("../fonts/hack/hack-regular-latin-webfont.ttf?v=2.015") format("truetype"),
       url("../fonts/hack/hack-regular-latin-webfont.svg?v=2.015#hackregular") format("svg");
}

@font-face {
  font: {
    family: "Hack";
    weight: 700;
    style: normal;
  }

  src: url("../fonts/hack/hack-bold-latin-webfont.eot?v=2.015"),
       url("../fonts/hack/hack-bold-latin-webfont.eot?#iefix&v=2.015") format("embedded-opentype"),
       url("../fonts/hack/hack-bold-latin-webfont.woff2?v=2.015") format("woff2"),
       url("../fonts/hack/hack-bold-latin-webfont.woff?v=2.015") format("woff"),
       url("../fonts/hack/hack-bold-latin-webfont.ttf?v=2.015") format("truetype"),
       url("../fonts/hack/hack-bold-latin-webfont.svg?v=2.015#hackbold") format("svg");
}
