#contact {
  #contact-form {
    .form-group:last-child {
      margin-bottom: 0px;

      &:before,
      &:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }
    }
  }
}
