@mixin body-font($size: 15px, $line-height: 1.6) {
  font: {
    size: #{$size};
    family: $body-font;
  }

  line-height: #{$line-height};
}

@mixin fixed-font($size: 18px, $line-height: 1.4) {
  font: {
    size: #{$size};
    family: $fixed-font;
  }

  line-height: #{$line-height};
}

@mixin system-font($size: 15px, $line-height: 1.5) {
  font: {
    size: #{$size};
    family: $system-font;
  }

  line-height: #{$line-height};
}

@mixin font-smoothing() {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
              font-smooth: always;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur 0px $color;
     -moz-box-shadow: $top $left $blur 0px $color;
          box-shadow: $top $left $blur 0px $color;
}

@mixin box-shadow-inset($top, $left, $blur, $color, $inset-top, $inset-left, $inset-blur, $inset-color) {
  -webkit-box-shadow: $top $left $blur $color, inset $inset-top, $inset-left, $inset-blur, $inset-color;
     -moz-box-shadow: $top $left $blur $color, inset $inset-top, $inset-left, $inset-blur, $inset-color;
          box-shadow: $top $left $blur $color, inset $inset-top, $inset-left, $inset-blur, $inset-color;
}
