$body-font: "Source Sans Pro", system, -apple-system, ".SFNSDisplay-Regular", "Lucida Grande", "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
$fixed-font: Hack, "Menlo Regular", "Andale Mono", monospace;
$serif-font: "PT Serif", Georgia, serif;
$system-font: system, -apple-system, ".SFNSDisplay-Regular", "Lucida Grande", "Myriad Pro", "Helvetica Neue", Arial, sans-serif;

$red-light-color: rgb(252,98,93);
$yellow-light-color: rgb(254,192,65);
$green-light-color: rgb(53,203,75);

$red-light-border-color: rgba(126,5,8,.25);
$yellow-light-border-color: rgba(152,87,18,.25);
$green-light-border-color: rgba(10,100,12,.25);

$toolbar-color-stop-1: rgb(237,237,237);
$toolbar-color-stop-2: rgb(211,211,211);

$toolbar-top-border-color: rgb(247,247,247);
$toolbar-bottom-border-color: rgb(126,126,126);

$toolbar-shadow-color: rgb(81,81,81);

$title-color: rgb(76,76,76);

$terminal-color: rgb(245,245,245);
$terminal-command-color: rgb(215,215,215);

$screen-color: rgb(20,25,31);
$screen-border-color: rgb(28,34,42);

$cursor-color: rgb(174,194,224);

$selection-color: rgb(71,90,112);
