@import "bower_components/bootstrap/scss/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/bourbon/app/assets/stylesheets/bourbon";

//--------------------------------------------------------------------------
// Mixins
//--------------------------------------------------------------------------

@mixin system-font($size: 15px, $line-height: 1.5) {
  font: {
    size: #{$size};
    family: system, -apple-system, ".SFNSDisplay-Regular", "Lucida Grande", "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
  }

  line-height: #{$line-height};
}

@mixin fixed-font($size: 18px, $line-height: 1.4) {
  font: {
    size: #{$size};
    family: Hack, "Menlo Regular", "Andale Mono", monospace;
  }

  line-height: #{$line-height};
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur 0px $color;
     -moz-box-shadow: $top $left $blur 0px $color;
          box-shadow: $top $left $blur 0px $color;
}

@mixin box-shadow-inset($top, $left, $blur, $color, $inset-top, $inset-left, $inset-blur, $inset-color) {
  -webkit-box-shadow: $top $left $blur $color, inset $inset-top, $inset-left, $inset-blur, $inset-color;
     -moz-box-shadow: $top $left $blur $color, inset $inset-top, $inset-left, $inset-blur, $inset-color;
          box-shadow: $top $left $blur $color, inset $inset-top, $inset-left, $inset-blur, $inset-color;
}

//--------------------------------------------------------------------------
// Variables
//--------------------------------------------------------------------------

$red-light-color: rgb(252, 98, 93);
$yellow-light-color: rgb(254, 192, 65);
$green-light-color: rgb(53, 203, 75);

$red-light-border-color: rgba(126, 5, 8, 0.25);
$yellow-light-border-color: rgba(152, 87, 18, 0.25);
$green-light-border-color: rgba(10, 100, 12, 0.25);

$toolbar-color-stop-1: rgb(237, 237, 237);
$toolbar-color-stop-2: rgb(211, 211, 211);

$toolbar-top-border-color: rgb(247, 247, 247);
$toolbar-bottom-border-color: rgb(126, 126, 126);

$toolbar-shadow-color: rgb(81, 81, 81);

$title-color: rgb(76, 76, 76);

$terminal-color: rgb(245, 245, 245);
$terminal-command-color: rgb(215, 215, 215);

$screen-color: rgb(20, 25, 31);
$screen-border-color: rgb(28, 34, 42);

$cursor-color: rgb(174, 194, 224);

$selection-color: rgb(71, 90, 112);

/*
 |--------------------------------------------------------------------------
 | Global
 |--------------------------------------------------------------------------
*/

body {
  @include system-font;
}

/*
 |--------------------------------------------------------------------------
 | Terminal
 |--------------------------------------------------------------------------
*/

#terminal {
  width: 100%;
  margin: -20px auto 40px auto;
  background: rgb(255, 255, 255);
  overflow: hidden;

  @include border-radius(5px);
  @include box-shadow(0px, 5px, 20px, rgba(0, 0, 0, 0.75));

  #toolbar {
    width: 100%;
    height: 23px;
    background: $toolbar-color-stop-1;

    border: {
      top: 1px solid $toolbar-top-border-color;
      bottom: 1px solid $toolbar-bottom-border-color;
    }

    @include border-radius(5px 5px 0 0);
    @include linear-gradient(to bottom, $toolbar-color-stop-1 0%, $toolbar-color-stop-2 100%);
    @include box-shadow-inset(0px, 1px, 0px, $toolbar-shadow-color, 0px, 1px, 0px, rgba(255, 255, 255, 0.5));

    .top {
      float: left;
      width: 100%;
      height: 20px;

      #title {
        float: left;
        width: 40%;
        top: 10px;
        left: 42.5%;
        position: relative;
        color: $title-color;

        @include system-font(14px, 0);
      }

      #lights {
        float: left;
        top: 4px;
        left: 8px;
        position: relative;

        .light {
          float: left;
          width: 12px;
          height: 12px;
          overflow: hidden;

          @include border-radius(6px);
          @include box-shadow-inset(0px, 1px, 0px, rgba(255, 255, 255, 0.5), 0px, 0px, 3px, rgb(0, 0, 0));
        }

        .red {
          border: 1px solid $red-light-border-color;
          background: $red-light-color;
        }

        .yellow {
          margin: 0 8px;
          border: 1px solid $yellow-light-border-color;
          background: $yellow-light-color;
        }

        .green {
          border: 1px solid $green-light-border-color;
          background: $green-light-color;
        }
      }
    }
  }

  #screen {
    float: left;
    width: 100%;
    min-height: 600px;
    padding: 0 5px;
    background: $screen-color;

    border: {
      style: solid;
      width: 0 1px 1px 1px;
      color: $screen-border-color;
    }

    p {
      color: $terminal-color;
      margin: 1px 0 5px 0;

      @include fixed-font;

      &:selection {
        background: $selection-color;
      }

      .command {
        color: $terminal-command-color;
      }
    }

    .cursor {
      display: inline-block;
      width: 11px;
      height: 26px;
      margin: 0 0 -6px 0;
      border: 1px solid $cursor-color;
      opacity: 1;
    }

    &:hover .cursor {
      border-width: 0 0 0 1px;

      animation: {
        name: blink;
        duration: 1.5s;
        iteration-count: infinite;
      }

      @keyframes blink {
          0% { opacity: 1; }
         50% { opacity: 0; }
        100% { opacity: 1; }
      }
    }
  }
}

/*
 |--------------------------------------------------------------------------
 | Resume
 |--------------------------------------------------------------------------
*/

#resume {
  .resume-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -0.5rem;
  }

  .resume-section {
    font-weight: bold;
    text-transform: uppercase;
  }

  .resume-contact {
    color: $gray;
    text-align: center;

    a {
      color: $gray;
      text-decoration: none;

      &:hover {
        color: $gray-dark;
      }
    }

    strong {
      top: 1px;
      padding: 0 2px;
      position: relative;
      font-size: 1.5rem;
    }
  }

  .resume-short-description, .resume-long-description {
    text-align: center;
    margin-bottom: 1rem;

    p {
      margin-bottom: 0;
    }
  }

  .resume-long-description {
    border: 2px solid $gray-dark;
    padding: 1rem;
  }

  .resume-job {
    .resume-job-position {
      a {
        color: $gray;
        text-decoration: none;

        &:hover {
          color: $gray-dark;
        }
      }

      span {
        color: $gray;
      }

    }

    .resume-job-duration {
      color: $gray;
      text-align: right;
    }
  }

  .resume-skills {
    .resume-skill-section {
      font-weight: bold;
    }
  }
}

/*
 |--------------------------------------------------------------------------
 | Footer
 |--------------------------------------------------------------------------
*/

footer {
  ul, p {
    color: $gray-light;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
    }
  }

  a {
    color: $gray-light;
    text-decoration: none;

    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }
}
